body {
  background: #000;
  color: #FFD700;
  font-family: Tahoma, Arial;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
}

h1 span {
  color: #fff;
}

.container {
  max-width: 400px;
  margin: auto;
}

a, button {
  display: block;
  background: #FFD700;
  color: #000;
  padding: 15px;
  margin: 10px 0;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  border: none;
}

input, select {
  width: 100%;
  padding: 12px;
  margin: 6px 0;
  border-radius: 6px;
  border: none;
}

button:hover, a:hover {
  background: #fff;
}