body {
  background: #000;
  color: #FFD700;
  font-family: Arial, Tahoma;
  text-align: center;
  padding: 20px;
}

h1 span {
  color: #fff;
}

.container {
  max-width: 400px;
  margin: auto;
}

a, button {
  display: block;
  background: #FFD700;
  color: #000;
  padding: 14px;
  margin: 10px 0;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 12px;
  margin: 6px 0;
  border-radius: 8px;
  border: none;
}
